@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3A1111;
    --white: #fff;
}

body {
    height: 100%;
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    min-width: 320px;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 832px;
}

.main-content {
    padding: 40px 52px 40px 80px;
}

.main-content__logo {
    color: var(--primary-color);
    font-size: 16px;
    margin-bottom: 179px;
}

.nugget {
    margin-bottom: -13px;
}

.main-content__title {
    color: var(--primary-color);
    font-size: 25px;
    margin-bottom: 42px;
}

.main-content__text {
    margin-bottom: 42px;
    font-size: 16px;
}

/* BUTTONS */

.content-buttons__locations {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    border-radius: 100px;
    margin-bottom: 25px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.37)
}

.location-input {
    border: none;
    width: 485px;
    padding: 20px;
    padding-left: 28px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    ;
}

.location-button {
    border: none;
    background-color: transparent;
}

.location-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-right: 32px;
}

/*  SEND button*/

.choose__send {
    display: flex;
    align-items: center;
    gap: 14px;
}

.send-form {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 273px;
    padding: 18px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    letter-spacing: 0.1em;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 273px;
    padding: 18px;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    background-color: var(--white);
    color: var(--primary-color);
}

/* Navigation MENU*/

.content-menu__navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    position: absolute;
    padding: 50px 22px 40px 22px;
}

.navigation__menu {
    display: flex;
    margin-top: -8px;
    margin-left: 10px;
}

.menu-link {
    padding: 7px 7px;
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
}

.menu-link:hover {
    font-weight: bold;
}

.login {
    display: inline-block;
    text-decoration: none;
    width: 70px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary-color);
    margin-left: 10px;
}

.nav-btn {
    display: none;
}


@media (max-width: 1150px) {

    .content-menu__navigation {
        padding: 30px 10px;
    }


    .title__name {
        display: flex;
        justify-content: center;
    }

    .text-about {
        display: flex;
        justify-content: center;
    }

    .main-content__logo {
        max-width: 60%;
        font-size: 14px;
    }

    .nav-btn {
        position: absolute;
    }

    .burger-line {
        position: absolute;
        top: 37px;
        right: 90px;
        width: 35px;
        height: 3px;
        background-color: black;
    }

    .second,
    .third {
        top: 18px;
    }

    .fourth {
        top: 27px;
    }

    .navigation__menu {
        display: none;
        padding-right: 60px;
        padding-top: 50px;
    }



    /* .navigation__menu {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }

    #check-menu:checked ~ .navigation__menu {
        max-height: 500px;
        font-size: 16px;
    }

    .menu-link {
        display: block;
        width: 100%;
        padding: 10px;
        color: var(--primary-color);
        text-decoration: none;

    }

    #check-menu:checked ~ .first {
        display: none;
    }

    #check-menu:checked ~ .second {
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third {
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .fourth {
        display: none;
    } */


    .nav-btn {
        font-size: 2em;
        padding-inline: 8px;
        border: none;
        background-color: white;
        display: block;
        cursor: pointer;
    }

    .content-menu__picture {
        display: none;
    }

    .drop:hover .navigation__menu {
        display: block;
        position: absolute;
        right: 1px;
    }

    .content-menu__navigation {
        position: absolute;
        right: 50px;
    }
}


@media (max-width: 800px) {

    .content-menu__navigation {
        padding: 30px 10px;
    }

    .title__name {
        max-width: 70%;
    }

    .main-content__text {
        max-width: 70%;
        font-size: 14px;
    }

    .title__name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text-about {
        display: flex;
        justify-content: center;
    }

    .content-buttons__locations {
        max-width: 70%;
    }

    .choose__send {
        max-width: 70%;
    }

    .content-menu {
        max-width: 70%;
    }

    .location-input {
        padding: 15px;
    }

    .send-form {
        padding: 10px;
    }

    .btn {
        padding: 10px;
    }
}


@media (max-width: 600px) {
    .content-menu__navigation {
        padding: 30px 10px;
    }

    .main-content {
        max-width: 90%;
        font-size: 14px;
        padding-left: 40px;
    }

    .title__name {
        display: flex;
        justify-content: center;
    }

    .text-about {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .burger-line {
        right: 40px;
    }

    .navigation__menu {
        padding-right: 15px;
    }

    .title__name {
        max-width: 70%;
    }

    .main-content__text {
        max-width: 70%;
    }

    .content-buttons__locations {
        max-width: 70%;
    }

    .choose__send {
        max-width: 70%;
    }

    .location-input {
        padding: 15px;
    }

    .send-form {
        padding: 11px;
    }

    .btn {
        padding: 10px;
    }

    .drop {
        padding-right: -100px;
    }
}